@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h2 {
  display: flex;
  flex-direction: row;
}

h2.activities:before, h2.activities:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h2.activities:before {
  margin-right: 10px
}
h2.activities:after {
  margin-left: 10px
}

/* Two values: flex-grow | flex-shrink */
/* flex: 2 2; */

h2.events:after {
  content: "";
  flex: 1 0; /* Let the line grow to fill the space */
  border-bottom: 1px solid; /* Style of the line */
  margin-left: 10px; /* Adjust the distance from the last letter */
  height: 60%; /* Set height to 0 to make the border appear */
  display:none;
}

body {
  font-family: Inter;
}


@layer components {
  .max-container {
    max-width: 1440px;
    /* top and bottom 0 | left and right auto */
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-12 px-0;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-16 py-8;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .underline-section {
    @apply  relative hover:text-primary-maroon 
    cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-primary-maroon before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] 
    after:ease-in-out after:duration-700 after:absolute after:bg-primary-maroon after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]
  }

  .aboutpagecards {
    @apply rounded overflow-hidden shadow-lg mx-5 mb-10 h-80
  }

  .inputfields {
    @apply focus:transition focus:duration-500 bg-inherit outline-none border-b-2 border-b-gray-400/40 focus:border-b-beige p-2 font-inter text-white
  }
}