name: ndsg-website-deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: us-east1
  # project-name but it can be anything you want
  REPO_NAME: ndsg-website-deploy

jobs:
  build-and-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Authenticate with Google Cloud
      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_SERVICE_ACCOUNT }}"

      # Setup gcloud CLI/SDK
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Build and tag the docker image
        run: |-
          docker build . --build-arg NEXT_PUBLIC_FIREBASE_API_KEY=${{secrets.NEXT_PUBLIC_FIREBASE_API_KEY}} --build-arg NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=${{secrets.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN}} --build-arg NEXT_PUBLIC_FIREBASE_PROJECT_ID=${{secrets.NEXT_PUBLIC_FIREBASE_PROJECT_ID}} --build-arg NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=${{secrets.NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET}} --build-arg NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=${{secrets.NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}} --build-arg NEXT_PUBLIC_FIREBASE_APP_ID=${{secrets.NEXT_PUBLIC_FIREBASE_APP_ID}} --build-arg NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=${{secrets.NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID}} --build-arg NEXT_PUBLIC_MAP_KEY=${{secrets.NEXT_PUBLIC_MAP_KEY}}  --tag gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Push the image to the Google Container Registry (GCR)
        run: |-
          docker push gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Deploy
        run: |-
          gcloud run deploy $REPO_NAME \
          --region $REGION \
          --image gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --platform "managed" \
          --quiet